<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style type="text/css">
    body { font-family: 'Open Sans', sans-serif; }
    </style>
</head>
<body style="width: 50%; margin: auto; margin-top: 100px ">
  <div class="logo" style="margin: auto 0; width:auto; margin-bottom: 50px">
      <center><img src="/logo.png" alt="logo pic" width = 500px ></center>
  </div>
<h1><%= title %></h1>
        <form id= 'signup'>
        <div class="form-group">
        	<label>Username</label>
        	<input type='text' class="form-control" name='username' placeholder="Please type in your username">
        </div>
        <div class="form-group">
        	<label>Password</label>
        	<input type='password' class="form-control" name='password' placeholder="Please type in your password">
        </div>
        <button class="btn btn-primary" type='submit' name="login" formaction="/signup" formmethod='POST' style="margin-bottom: 10px">Sign up</button>
        <br>
        or
        <br>
        <button class="btn btn-warning" type='submit' name="signup" formaction="/login" formmethod='GET' style="margin-top: 10px">Go to login in page</button>
        </form>
  <!-- <script>function myFunction() {
            alert(document.write (<%= message %>));
          }
  </scrpit> -->
  <h2><%= message %></h2>
</body>
</head>
</html>
